.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--accent-color);
	height: 5rem;
	padding: 0 150px;
	position: sticky;
	top: 0;
}

.nav {
	display: flex;
	gap: 3rem;
}

.li {
	display: inline-block;
	color: white;
	padding: 0 20px;
	font-size: 1rem;
	font-weight: 400;
}

.li:hover {
	text-decoration: underline;
}

.button {
	display: flex;
	gap: 8px;
	color: var(--secondary-color);
	background: none;
	border: none;
	font-family: "Montserrat", sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
}

.indicator {
	background-color: var(--secondary-color);
	color: var(--accent-color);
	border-radius: 50%;
	width: 70%;
	height: 70%;
}
